<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Categoria Lacteos y Huevos</title>
</head>
<body>
    <header>
        <img class="icon0" src="static/imagenes/Supermercado.png" alt="">
        <h1>SUPERMARKET</h1>
    
    <nav>
        <ul>
            <li><a href="{{ url_for('principal.PaginaInicio')}}">INICIO</a></li>
            <li><a href="#">CONTACTO</a></li>
            <li><a href=" {{url_for('principal.ruta_carrito')}}"><img class="car" src="static/imagenes/car.svg" alt=""></a></li>
        </ul>
    </nav>
    </header>
    <aside class="sidebar">
        <ul>
            <li><a href="{{ url_for('principal.frutas_verduras') }}"><img class="icon1" src="static/imagenes/Verduras.png" alt="">Frutas y Verduras</a></li>
            <li><a href="{{ url_for('principal.lacteos_huevos') }}"><img class="icon1" src="static/imagenes/Lacteos.png" alt="">Lácteos y Huevos</a></li>
            <li><a href="{{ url_for('principal.carnes') }}"><img class="icon1" src="static/imagenes/Carnes.png" alt="">Carnes</a></li>
            <li><a href="{{ url_for('principal.arroz_granos_pastas') }}"><img class="icon1" src="static/imagenes/Arroz.png" alt="">Arroz, granos y pastas</a></li>
            <li><a href="{{ url_for('principal.aceites_sal_endulzantes')}}"><img class="icon1" src="static/imagenes/Aceites.png" alt="">Aceites, sal y endulzantes</a></li>
            <li><a href="{{ url_for('principal.despensa')}}"><img class="icon1" src="static/imagenes/Despensa.png" alt="">Despensa</a></li>
            <li><a href="{{ url_for('principal.bebidas')}}"><img class="icon1" src="static/imagenes/Bebidas.png" alt="">Bebidas</a></li>
            <li><a href="{{ url_for('principal.aseo_personal')}}"><img class="icon1" src="static/imagenes/Personal.png" alt="">Aseo Personal</a></li>
            <li><a href="{{ url_for('principal.aseo_hogar')}}"><img class="icon1" src="static/imagenes/Hogar.png" alt="">Aseo del Hogar</a></li>
            <li><a href="{{ url_for('principal.mascotas')}}"><img class="icon1" src="static/imagenes/Mascotas.png" alt="">Mascotas</a></li>
            <li><a href="{{ url_for('principal.licores')}}"><img class="icon1" src="static/imagenes/Licores.png" alt="">Licores</a></li>
            <li><a href="{{ url_for('principal.salsas_sazonadores')}}"><img class="icon1" src="static/imagenes/Sazonadores.png" alt="">Salsas y Sazonadores</a></li>
        </ul>
    </aside>
    <div class="product-container">
        <div class="container" id="product-1">
            <img class="img-uvas" src="static/imagenes/Pechuga.png" alt="Pechuga de Pollo">
            <h2 class="name1" >Filete de Pechuga Pollo</h2>
            <h3>500 gr</h3>
            <h3>$6.000</h3>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Filete de Pechuga Pollo', 6000)">Agregar</button>
        </div>
        <div class="container" id="product-2">
            <img class="img-piña" src="static/imagenes/muslos.png" alt="fresas">
            <h2 class="name2" >Muslo de Pollo</h2>
            <h3>500 gr</h3>
            <h3>$7.000</h3>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Muslo de Pollo', 7000)">Agregar</button>
        </div>
        <div class="container">
            <img class="img-uvas" src="static/imagenes/Pechuga1.png" alt="sandias">
            <h2 class="name13" >Pechuga Pollo sin Piel</h2>
            <h3>1.000 gr</h3>
            <h3>$ 14.000</h3>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Pechuga Pollo sin Piel', 14000)">Agregar</button>
        </div>
        <div class="container">
            <img class="img-Alqueria" src="static/imagenes/piernapernil.png" alt="sandias">
            <h2 class="name14" >Pierna Pernil de Pollo</h2>
            <h3>500 gr</h3>
            <h3>$ 5.500</h3>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Pierna Pernil de Pollo', 5500)">Agregar</button>
        </div>
        <div class="container">
            <img class="img-Alqueria" src="static/imagenes/salmon.jpg" alt="sandias">
            <h2 class="name5" >Filete de Salmon</h2>
            <h3>500 gr</h3>
            <h3>$ 15.000</h3>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Filete de Salmon', 15000)">Agregar</button>
        </div>
        <div class="container">
            <img class="img-sandia" src="static/imagenes/camarones.png" alt="sandias">
            <h2 class="name15" >Camarones Artesanales</h2>
            <h3>500 gr</h3>
            <h3>$ 17.000</h3>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Camarones Artesanales', 17000)">Agregar</button>
        </div>
        <div class="container">
            <img class="img-sandia" src="static/imagenes/mariscos.png" alt="sandias">
            <h2 class="name1" >Cazuela Mariscos Instantanea</h2>
            <h3>750 gr</h3>
            <h3>$ 18.000</h3>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Cazuela Mariscos Instantanea', 18000)">Agregar</button>
        </div>
        <div class="container">
            <img class="img-coco" src="static/imagenes/lomo.png" alt="sandias">
            <h2 class="name13" >Lomo de Res</h2>
            <h3>1.000 gr</h3>
            <h3>$26.000</h3>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Lomo de Res', 26000)">Agregar</button>
        </div>
        <div class="container">
            <img class="img-piña" src="static/imagenes/molida.png" alt="huevos kikes">
            <h2 class="name9" >Carne Molida</h2>
            <h3>500 gr</h3>
            <h3>$9.000</h3>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Carne Molida', 9000)">Agregar</button>
        </div>
        <div class="container">
            <img class="img-coco" src="static/imagenes/sobrebarriga.png" alt="huevos AA">
            <h2 class="name10" >Sobrebarriga Gruesa</h2>
            <h3>1.000 gr</h3>
            <h3>$13.000</h3>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Sobrebarriga Gruesa', 13000)">Agregar</button>
        </div>
        <div class="container">
            <img class="img-coco" src="static/imagenes/costillas.png" alt="sandias">
            <h2 class="name11" >Costillas de Cerdo</h2>
            <h3>500 gr</h3>
            <h3>$7.500</h3>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Costillas de Cerdo', 7500)">Agregar</button>
        </div>
        <div class="container">
            <img class="img-lulo" src="static/imagenes/chicharron.png" alt="sandias">
            <h2 class="name6" >Chicharron de Cerdo</h2>
            <h3>1.000 gr</h3>
            <h3>$6.500</h3>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Chicharron de Cerdo', 6500)">Agregar</button>
        </div>
    </div>
    <script>
        function agregarAlCarrito(nombre, precio) {
            const carrito = JSON.parse(localStorage.getItem('carrito')) || [];
            carrito.push({ nombre: nombre, precio: precio });
            localStorage.setItem('carrito', JSON.stringify(carrito));
            alert(`El producto ${nombre} ha sido agregado al carrito de compras`);
        }
    </script>
</body>
</html>